@import "tailwindcss";

body{
  margin:0;
  padding:0;
  background-color: #031926;
  color:#f1f1f1;
  box-sizing: border-box;
  /* display: inline-block; */
  display: block;
  /* color:white; */
  
}

.high-blue{
  @apply text-blue-400;
}
.high-indigo{
  @apply text-indigo-400;
}
.fancy-blue{
  @apply bg-gradient-to-tr from-blue-100 via-blue-300 to-blue-500 text-transparent bg-clip-text;
}

.titlebox{
  background-image: url("../public/cat1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 10000px; */
  /* padding: 200px; */
}

.project-card{
  @apply text-2xl space-y-5 rounded-4xl mx-5 sm:h-120 shadow-lg  shadow-black hover:translate-y-[-1rem] transition duration-300 ease-in-out hover:shadow-2xl;
}
.project-grid{
  @apply grid sm:grid-cols-2 grid-cols-1;
}
/* .gren{
  @apply hover:shadow-green-900;
} */